/* body{
  background-color: aquamarine;
} */

/* #heading{   ID Selector
  color: red;
} */

h1{
  color: green;
}

.heading{
  color: red;
}

#extraHeading{
  color: blue;
}

.absolute{
  height: 200px;
  width: 500px;
  background-color: aquamarine;
}

.relative{
  height: 25vh;
  width: 50vw;
  background-color: blue;
}

.percentage{
  height: 50%;
  width: 50%;
  background-color: brown;
}