/* body{
  background-color: aquamarine;
} */

/* #heading{   ID Selector
  color: red;
} */

@font-face {
  font-family: 'water_brushregular';
  src: url('waterbrush-regular-webfont.woff2') format('woff2')
}

h1{
  color: rgb(19, 0, 128);
  /* font-family: 'Great Vibes', cursive; */
  font-family: 'water_brushregular';
}

.heading{
  color: red;
}

#extraHeading{
  color: blue;
}

.absolute{
  height: 200px;
  width: 500px;
  background-color: aquamarine;
}

.relative{
  height: 25vh;
  width: 50vw;
  background-color: blue;
}

.percentage{
  height: 50%;
  width: 50%;
  background-color: brown;
}

.sub-heading{
  border-style: solid;
  border-width: 2px;
  border-color: black;
  color: brown;
  border-radius: 20px;
  border: 2px solid blueviolet;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 25px;
  margin-left: 60px;
  margin-right: 60px;
}

.circle{
  width: 200px;
  height: 200px;
  background-color: brown;
  border-radius: 100px;
}

/* 

CSS display property

display: block -> It will convert a Inline element into Block element 

display: inline -> It will convert a Block element into Inline element 

display: none -> It will hide a element in UI

*/

.square{
  width: 500px;
  height: 100px;
  border: 2px solid;
  margin-bottom: 10px;
  overflow: auto;
}

.text{
  font-size: 30px;
  font-weight: bolder;
  font-style: italic;
}

.background{
  /* background-image: url("./shinchu.jpg"); */
  background-image: url("https://www.kia.com/content/dam/kia2/in/en/images/our-vehicles/carens/MASTHEAD-CAR-LOGO-UNIT_CARENS_UPD.png");
  background-size: 500px auto; /*width height*/
  background-repeat: no-repeat;
}