body{
  margin: 0px;
}

/* .flex-colum{
  flex-direction: column !important;
} */

.container{
  border: 2px solid red;
  height: 35vh;
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.medium-container{
  border: 2px solid red;
  height: 24vh;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
}

.heading-image{
  border: 2px solid;
  height: 100%;
  width: 25%;
  box-sizing: border-box;
}

.heading-section{
  border: 2px solid;
  height: 100%;
  width: 75%;
  box-sizing: border-box
}

.heading-title{
  border: 2px solid blue;
  height: 40%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.heading-content{
  border: 2px solid blue;
  height: 60%;
  box-sizing: border-box;
}

.heading-item{
  border: 2px solid red;
  height: 100%;
  box-sizing: border-box;
}

.width-10-percentage{
  width: 10%;
}

.width-15-percentage{
  width: 15%;
}

.width-75-percentage{
  width: 75%;
}

.footer-item{
  border: 2px solid;
  width: 25%;
  box-sizing: border-box;
}

.space-even{
  justify-content: space-evenly;
}

.footer-image{
  border: 2px solid red;
  height: 60%;
  box-sizing: border-box;
}

.footer-content{
  border: 2px solid red;
  height: 20%;
  box-sizing: border-box;
}

/* .heading-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
} */

.image-fit{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.radius{
  border-radius: 60px
}