body{
  margin: 0px;
}

/* .flex-colum{
  flex-direction: column !important;
} */

.container{
  border: 2px solid red;
  height: 35vh;
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.medium-container{
  border: 2px solid red;
  height: 24vh;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
}

.heading-image{
  border: 2px solid;
  height: 100%;
  width: 25%;
  box-sizing: border-box;
}

.heading-section{
  border: 2px solid;
  height: 100%;
  width: 75%;
  box-sizing: border-box
}

.heading-title{
  border: 2px solid blue;
  height: 40%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.heading-content{
  border: 2px solid blue;
  height: 60%;
  box-sizing: border-box;
}

.heading-item{
  border: 2px solid red;
  height: 100%;
  box-sizing: border-box;
}

.width-10-percentage{
  width: 10%;
}

.width-15-percentage{
  width: 15%;
}

.width-75-percentage{
  width: 75%;
}

.footer-item{
  border: 2px solid;
  width: 25%;
  box-sizing: border-box;
}

.space-even{
  justify-content: space-evenly;
}

.footer-image{
  border: 2px solid red;
  height: 60%;
  box-sizing: border-box;
}

.footer-content{
  border: 2px solid red;
  height: 20%;
  box-sizing: border-box;
}

/* .heading-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
} */

.image-fit{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.radius{
  border-radius: 60px
}

@media only screen and (max-width: 480px) {
  .heading-image{
    width: 50%;
  }

  .heading-section{
    width: 50%;
  }

  .heading-title{
    height: 60%;
    flex-wrap: wrap;
  }

  .heading-content{
    height: 40%;
  }

  .flex-colum{
    flex-direction: column !important;
    height: auto;
  }

  .space-even{
    justify-content: flex-start;
    align-items: center;
  }
 
  .footer-item{
    width: 80%;
    height: 25vh;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .title-image{
    order: 1;
    width: 40%;
    height: 50%;
  }

  .title-text{
    order: 3;
    width: 100%;
    height: 50%;
  }

  .title-date{
    order: 2;
    width: 60%;
    height: 50%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .heading-image{
    width: 45%;
  }

  .heading-section {
    width: 55%;
  }
  
  .title-image{
    width: 30%;
  }

  .title-text{
    width: 50%;
  }

  .title-date{
    width: 20%;
  }

  .flex-colum{
    height: auto;
    flex-wrap: wrap;
  }

  .space-even{
    justify-content: space-between;
  }

  .footer-item{
    width: 45%;
    height: 25vh;
    margin: 10px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
  
}